/* Global CSS Variables */
:root {
    --main-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --main-image-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --main-transition: all 600ms ease-in-out;
    --dark-text: #f0f0f0;
    --dark-bg: #010101;
    --light-bg: #f0f0f0;
    --content-heading-color: #28a745;
    --background-gradient: linear-gradient(to right, #343a40, #3E5151);
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tags{
    width:13.5rem;
}

#amount{
    width:5.5rem;
}

.input-group-text{
    width:fit-content
}

#get-recipes {
    /* Overrides */
    border: none;
    box-shadow: var(--main-box-shadow);
    outline: inherit;
    cursor: pointer;
    /* styles */
    display: block;
    margin: 1rem auto;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    transition: var(--main-transition);
    background-color: var(--light-bg);
    border-radius: 25px;

}
#get-recipes:hover {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

#recipe-img {
    aspect-ratio: auto;
    width: 45vw;
    height: 45vh;
    border-radius: 5px;
    box-shadow: var(--main-image-box-shadow);
}

.card {
    overflow: hidden;
}
.card-header, .card-body {
    text-align: center;
    background: #fff;
    z-index: 2;
}
.thumbnail {
    overflow: hidden;
    transition: var(--main-transition);
}
.thumbnail:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 1rem;
}


.information {
    margin-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-left: 1.5rem;
    gap: 3rem;
}

.information > div {
    display: flex;
    flex-flow: column wrap;
    border-radius: 1rem;
    border: none;
    box-shadow: var(--main-box-shadow);
    color: #fff;
    padding: 1rem;
    background-image: var(--background-gradient);
}

.information h2 {
    color: var(--content-heading-color);
    font-weight: 600;
}

.info-item-container {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    flex-basis: 100%;
}

.info-item-container:nth-child(1){
    flex: 45%;
}

.info-item-container:nth-child(2){
    flex: 45%;
}

#feature-badges{
    text-align: center;
    margin-bottom: 1rem;
}

.input-group-text{
    background:#2037ba5c;
    color:white;
    
}

/* Media Queries */
@media screen and (min-width: 500px) {
    .information {
        flex-flow:  row wrap;
    }

}
