#get-recipes {
    display: block;
    margin: 1rem auto;
}

#recipe-img {
    display: block;
    margin: auto;
    aspect-ratio: auto;
    transition: 500ms ease-in-out;
}
#recipe-img:hover {
    transform: scale(1.2);
}

.image-container {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}
